body {
	background-color: #2B2B2B;
}

.row {
	margin: 0;
}

.col {
	padding: 0;
}

.wrapper {
	text-align: center;
	border: 1px solid #E9E581;
	margin: 20px auto;
	padding: 5px;
}

.text {
	font-size: 30px;
	color: #E9E581;
	font-family: 'Neuton', serif;
	text-align: center;
	margin: 5px;
	border: 1px solid #E9E581;
}

.onlineTextMain {
	font-size: 50px;
}

